menu "Ralink Module"

source "drivers/net/rt_rdm/Kconfig"
source "drivers/net/raeth/Kconfig"
source "drivers/net/wireless/rt2860v2_ap/Kconfig"
source "drivers/net/wireless/rt2860v2_sta/Kconfig"
#source "drivers/net/wireless/iNIC/Kconfig"
source "drivers/usb/dwc_otg/Kconfig"

#choice
#prompt "Ralink NAT Type"
	
#config  RA_NAT_NONE
#bool "None"
#config  RA_NAT_HW
#bool "Hardware"
#endchoice

#source "net/nat/hw_nat/Kconfig"

endmenu

