config RT2860V2_AP
	tristate "Ralink RT2860 802.11n AP support - 2860v2, support both RBUS and PCI"
	depends on NET_RADIO

choice
	prompt "Bus Type"
	depends on RT2860V2_AP
	default RT2860V2_AP_RBUS

	config  RT2860V2_AP_RBUS
	bool "RBUS"

	config  RT2860V2_AP_RBUS_PCI
	bool "RBUS+PCI"
	depends on PCI
endchoice

config  RT2860V2_AP_2850
	bool "Dual Band"
	depends on RT2860V2_AP

config  RT2860V2_AP_LED
	bool "LED Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_WSC
	bool "WSC (WiFi Simple Config)"
	depends on RT2860V2_AP

config  RT2860V2_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT2860V2_AP

config  RT2860V2_AP_WDS
	bool "WDS"
	depends on RT2860V2_AP

config  RT2860V2_AP_MBSS
	bool "MBSSID"
	depends on RT2860V2_AP

config  RT2860V2_AP_APCLI
	bool "AP-CLient Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_IGMP_SNOOP
	bool "IGMP snooping"
	depends on RT2860V2_AP

config  RT2860V2_AP_NETIF_BLOCK
	bool "NETIF Block"
	depends on RT2860V2_AP

config  RT2860V2_AP_DFS
	bool "DFS"
	depends on RT2860V2_AP

config  RT2860V2_AP_CARRIER
	bool "Carrier Detect"
	depends on RT2860V2_AP

config  RT2860V2_AP_DLS
	bool "DLS ((Direct-Link Setup) Support"
	depends on RT2860V2_AP

config  RT2860V2_AP_IDS
	bool "IDS (Intrusion Detection System) Support"
	depends on RT2860V2_AP

config  CONFIG_RT2860V2_AP_MESH
	bool "MESH Support"
	depends on RT2860V2_AP
